.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px;

  background-color: $white;

  .form-input {
    margin-bottom: 16px;

    & + div:not(.form-input) {
      margin-top: auto;
    }
  }
}

.auth-page__form-wrap {
  height: fit-content;
  max-height: 100%;
}
