extends ../../layout/main/main-layout.pug

include ../../modules/form/form.pug

block title
    title Авторизация

block content
    main
        .auth-page
            .auth-page__form-wrap
                +auth-form()

block scripts
    script(src='./auth.js' type='module')
        