.profile {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;

  &.is-edit {
    .profile__name {
      visibility: hidden;
    }

    .profile__btns {
      display: none;
    }

    .button {
      display: block;
    }
  }

  &.is-edit-password {
    .profile__name {
      visibility: hidden;
    }

    .profile-form {
      &--data {
        display: none;
      }
      &--password {
        display: flex;
      }
    }

    .profile__btns {
      display: none;
    }

    .button {
      display: block;
    }
  }
}

.profile__btn-back {
  position: sticky;
  top: 0;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 18px;

  background-color: #fbfbfb;
  border-width: 0 1px 0 0;
  border-color: #eaeaea;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  transition: opacity 0.1s ease-in;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }
}

.profile__form-wrap {
  width: max-content;
  width: 100%;
  max-width: 510px;
  margin: 0 auto;
  padding: 60px 20px 100px;
}

.profile__photo {
  position: relative;

  width: 130px;
  height: 130px;
  margin: 0 auto 20px;
  overflow: hidden;

  background-color: #efefef;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36 2H4a2 2 0 0 0-2 2v21.267l12.655-2.953A11.999 11.999 0 0 1 17.38 22h5.238c.918 0 1.832.105 2.726.314L38 25.267V4a2 2 0 0 0-2-2ZM4 0a4 4 0 0 0-4 4v32a4 4 0 0 0 4 4h32a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4H4Zm6.91 14.546a3.636 3.636 0 1 0-.001-7.273 3.636 3.636 0 0 0 0 7.273Z' fill='%23CDCDCD'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  border-radius: 50%;

  input {
    position: absolute;

    width: 1px;
    height: 1px;

    opacity: 0;
  }
}

.profile__photo-label {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;

  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: white;

  cursor: pointer;
  opacity: 0;

  transition: all 0.1 ease-in;

  &:hover {
    background-color: rgba(black, 0.5);
    opacity: 1;
  }
}

.profile__name {
  margin: 0 0 50px;

  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #1e1e1e;
}

.profile__btn {
  display: block;
  width: 100%;
  padding: 10px 0;

  font-size: 13px;
  line-height: 13px;
  text-align: left;
  color: #3369f3;

  background-color: white;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #eaeaea;
  cursor: pointer;

  transition: color 0.1s ease-in;

  &:hover {
    color: rgba(#3369f3, 0.8);
  }

  &:first-of-type {
    border: none;
  }

  &--red {
    color: #ff0000;

    &:hover {
      color: rgba(#ff0000, 0.8);
    }
  }
}
