@import '../../utils/variables.scss';

.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px;

  background-color: $background;

  .form-input {
    margin-bottom: 16px;

    & + div:not(.form-input) {
      margin-top: auto;
    }
  }

  .button {
    margin-top: 46px;
  }
}

.registration-page__form-wrap {
  height: fit-content;
  max-height: 100%;
}
