extends ../../layout/main/main-layout.pug

include ../../modules/form/form.pug

block title
    title Регистрация

block content
    main
        .registration-page
            .registration-page__form-wrap
                +registration-form()

block scripts
    script(src='./registration.js' type='module')