include ../../../../components/button/button
include ../../components/profile-input/profile-input.pug

mixin profile-form()
    form(action='POST')
        .profile-form.profile-form--data
            +profile-input({ inputType: 'email', name: 'email', label: 'Почта', value: 'pochta@yandex.ru' })
            +profile-input({ inputType: 'text', name: 'login', label: 'Логин', value: 'ivanivanov' })
            +profile-input({ inputType: 'text', name: 'first_name', label: 'Имя',value: 'Иван' })
            +profile-input({ inputType: 'text', name: 'second_name', label: 'Фамилия', value: 'Иванов' })
            +profile-input({ inputType: 'text', name: 'display_name', label: 'Имя в чате', value: 'Иван' })
            +profile-input({ inputType: 'phone', name: 'phone', label: 'Телефон', value: '+7 (909) 967 30 30' })
            +button({ type: 'submit', text: 'Сохранить' })
        
mixin change-password-form()
    form(action='POST')
        .profile-form.profile-form--password
            +profile-input({ inputType: 'password', name: 'oldPassword', label: 'Старый пароль', value: 'oldpassword' })
            +profile-input({ inputType: 'password', name: 'newPassword', label: 'Новый пароль' })
            +profile-input({ inputType: 'password', label: 'Повторите новый пароль' })
            +button({ type: 'submit', text: 'Сохранить' })