@import '../../utils/variables.scss';

.chats {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.chats__info {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 310px;
  height: 100vh;
  padding: 0 10px;
  overflow: -moz-scrollbars-none;
  overflow-y: auto;

  background-color: $gray-4;
  border-right: 1px solid $gray-2;

  -ms-overflow-style: none;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    display: none;
    width: 0;

    background: transparent;
  }
}

.chats__options {
  position: sticky;
  top: 0;
  z-index: 1;

  padding-top: 20px;
  padding-bottom: 14px;

  background-color: $gray-4;
  border-bottom: 1px solid $gray-2;
}

.chats__profile-link {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 23px;

  font-size: 12px;
  line-height: 12px;
  color: $gray-1;
  text-decoration: none;

  &::after {
    content: "";
    position: relative;

    display: block;
    width: 6px;
    height: 10px;
    margin-left: 8px;

    background-image: url("../../../static/svg/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.chats__form-search,
.chats__form-create {
  label {
    padding: 0;

    span {
      top: 6px;
      left: 50%;

      display: flex;
      align-items: center;

      transform: translateX(-50%);

      pointer-events: none;

      &::before {
        content: "";
        position: relative;

        display: block;
        width: 20px;
        height: 20px;
        margin-right: 3px;

        background-image: url("../../../static/svg/icon-search.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    input {
      box-sizing: border-box;
      padding: 10px;

      background-color: $gray-3;
      border: none;
      border-radius: 5px;
    }
  }
}

.chats__form-create {
  margin-top: 10px;
}

.chats__body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;

  &::before {
    content: "Выберите чат чтобы отправить сообщение";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    align-self: center;
    width: 100%;

    text-align: center;

    transform: translate(-50%, -50%);
  }
}

.chats__friend {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: $dark;

  &::before {
    content: "";
    position: relative;

    display: block;
    width: 34px;
    height: 34px;
    margin-right: 10px;

    background-color: $gray-3;
    border-radius: 50%;
  }
}

.chats__main {
  display: flex;
  flex-direction: column;

  background-color: $background;
}

.chats__messages {
  height: 100%;
  padding-right: 15px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.chats__messages-date {
  margin: 30px 0;

  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $gray-1;
}

.chats__message {
  max-width: 75%;
  margin-bottom: 10px;
  padding: 10px;

  font-size: 12px;
  line-height: 15px;
  color: $dark;

  border-radius: 10px;

  &--theirs {
    background-color: $gray-5;
  }

  &--yours {
    margin-left: auto;

    background-color: $lightblue;
  }

  p {
    margin: 0 0 10px;
  }
}

.chats__message-time {
  margin-top: -8px;

  font-size: 9px;
  line-height: 9px;
  text-align: right;
  color: $gray-1;
}

.chats__bottom {
  flex-shrink: 0;

  background-color: $background;
  border-top: 1px solid $gray-2;
}

.chats__bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  column-gap: 10px;

  .form-input {
    position: relative;

    flex-shrink: 1;
    width: 100%;

    label {
      padding-top: 0;

      &.is-active {
        span {
          opacity: 0;
        }
      }

      span {
        top: 11px;
        left: 20px;

        font-size: 12px;
        line-height: 12px;
      }
    }

    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;

      font-size: 12px;
      line-height: 12px;
      color: $gray-1;

      background-color: $gray-3;
      border: none;
      border-radius: 30px;
      outline: none;
      box-shadow: none;
    }

    .form-error {
      position: absolute;
      bottom: -15px;
      left: 20px;
    }
  }
}

.chats__attach {
  display: block;
  width: 32px;
  height: 32px;

  background-image: url("../../../static/svg/icon-attach.svg");
  background-size: contain;
}

.chats__send {
  display: block;
  width: 28px;
  height: 28px;

  background-image: url("../../../static/svg/icon-send.svg");
  background-size: contain;
}

.chats__attach,
.chats__send {
  flex-shrink: 0;
  padding: 0;

  background-color: $transparent;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;

  svg {
    display: block;
  }
}

.chats__input {
  width: 100%;
  padding: 10px 20px;

  font-size: 12px;
  line-height: 12px;
  color: $gray-1;

  background-color: $gray-3;
  border: none;
  border-radius: 30px;
  outline: none;
  box-shadow: none;
}
