$white:         #ffffff;
$black:         #000000;
$dark:          #1e1e1e;
$gray-1:        #999999;
$gray-2:        #eaeaea;
$gray-3:        #efefef;
$gray-4:        #fbfbfb;
$blue:          #3369f3;
$red-1:         #ff0000;
$red-2:         #ff2f2f;
