$white:         #fff;
$black:         #000;
$dark:          #1e1e1e;
$gray-1:        #999;
$gray-2:        #eaeaea;
$gray-3:        #efefef;
$gray-4:        #fbfbfb;
$gray-5:        #f8f8f8;
$blue:          #3369f3;
$lightblue:     #e4edfd;
$red-1:         #f00;
$red-2:         #ff2f2f;
