.form-input {
  &.is-error {
    .form-error {
      display: block;
    }
  }

  label {
    position: relative;

    display: block;
    padding-top: 10px;

    &.is-active {
      span {
        top: 1px;

        font-size: 9px;
        line-height: 9px;
      }
    }
  }

  input {
    width: 100%;
    margin: 0;
    padding: 7px 0;

    font-size: 13px;
    line-height: 13px;
    color: $dark;

    border-width: 0 0 1px 0;
    border-color: $accent;
    border-radius: none;
    outline: none;
  }

  span {
    position: absolute;
    top: 18px;
    left: 0;

    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: $gray-1;

    transition: all 0.1s ease-out;
  }
}

.form__input-wrap {
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 46px;
  }
}

.form__label {
  position: relative;

  display: block;
  padding-top: 10px;

  &.is-active {
    .form__label-text {
      top: 1px;

      font-size: 9px;
      line-height: 9px;
    }
  }

  &.is-error {
    .form__error {
      display: block;
    }
  }
}

.form__label-text {
  position: absolute;
  top: 18px;
  left: 0;

  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $gray-1;

  transition: all 0.1s ease-out;
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 7px 0;

  font-size: 13px;
  line-height: 13px;
  color: $dark;

  border-width: 0 0 1px 0;
  border-color: $accent;
  border-radius: none;
  outline: none;
}

.form-error {
  display: none;
  margin-top: 7px;

  font-size: 8px;
  line-height: 8px;
  color: $red-1;
}
